.post-adder h3 {
    text-align: center;
    
}

.post-adder-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center; 
}

.post-adder-title {
    display: block;
    width: 80%
    
}

.post-adder-body {
    display: block;
    width: 80%;
    height: 50px;
}
